.container{
    background-color: var(--button-color);
    width: 320px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color:var(--text-color-white);
    font-size: 24px;
    box-shadow: 3px 3px 10px rgba(0,0,0, 0.6);
}

@media (width<400){
    .container{
        width: 260px;
        height: 120px;
    }
}

